.vscode/
/nbproject/private/
/build/
/dist/
/nbdist/
/nbbuild/
/.nb-gradle/

*.class
*.jar
*.war
*.ear
*.zip
*.tar.gz

/lib/
/libs/
/vendor/

*.log

.idea/
*.iml
*.ipr
*.iws
.settings/
.classpath
.project
*.launch

.DS_Store
Thumbs.db


*.orig
*.rej

*/test-results/
/surefire-reports/
/failsafe-reports/

target/
.gradle/
/build/
out/
